body {
  font-family: sans-serif;
}

.game-container {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-box div {
  margin-bottom: 10px;
}

.reset-button,
.next-round-button {
  background-color: #4cacaf;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.next-round-button {
  margin: 20px 0 0 0;
  width: 250px;
  background-color: #4cacaf;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.cell {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.cell:hover {
  background-color: #ddd;
}

.cell.occupied {
  cursor: default;
}

.cell.player-X::after {
  content: "X";
  color: #a24936;
}

.cell.player-O::after {
  content: "O";
  color: #275d9b;
}

.cell.win {
  background-color: #6dd270;
}

.message-container {
  margin-bottom: 20px;
}

.message {
  font-size: 24px;
  font-weight: bold;
}

.player-X-turn {
  color: #e84c3d;
  font-weight: bold;
}

.player-O-turn {
  color: #4183d7;
  font-weight: bold;
}

.hide {
  display: none;
}
