* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 22px;
  background-color: #9ea3b0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #a24936;
  padding: 20px 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 130px 0 0 0;
  color: #a24936;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

nav a:hover {
  color: #333;
}

main {
  background-color: #9ea3b0;
  padding: 20px 0;
  text-align: center;
}

p {
  line-height: 1.5;
  color: #555;
}

section {
  margin-top: 40px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects li {
  margin: 20px;
  position: relative;
  width: 300px;
  height: 200px;
}

.projects li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.projects li:hover .overlay {
  opacity: 1;
}

.projects li .overlay h3 {
  font-size: 24px;
  margin: 0;
}

.projects li .overlay p {
  font-size: 16px;
  margin: 0;
}

.container .subtitle {
  font-size: 32px;
  font-style: italic;
  margin: 0;
  color: #546a7b;
}

.container h1 a {
  text-decoration: none;
  color: #a24936;
}

.container h1 a:hover {
  color: #546a7b;
}

footer {
  margin: 115px 0 0 0;
  background-color: #546a7b;
  color: #fff;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons li {
  margin: 0 20px;
}

.social-icons li a {
  color: #fff;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #a24936;
}

.footer-container p {
  color: #9ea3b0;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 20px 0;
  }

  nav ul {
    text-align: center;
  }

  h1 {
    font-size: 36px;
    margin: 50px 0 0 0;
  }

  nav li {
    display: inline;
    margin: 0 40px 0 40px;
  }

  nav li:first-child {
    margin-top: 10px;
  }

  .projects li {
    width: 45%;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 32px;
    margin: 30px 0 0 0;
  }

  header {
    display: none;
  }

  .container p {
    font-size: 24px;
  }

  nav li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #fff;
    padding: 10px;
  }

  nav li:first-child {
    margin-top: 10px;
  }

  .projects li {
    width: 100%;
  }

  .subtitle {
    font-size: 20px;
  }

  .social-icons {
    flex-wrap: wrap;
  }

  .social-icons li {
    margin: 15px 30px;
  }

  .footer-container p {
    text-align: center;
    margin: 10px;
  }
}
