html {
  overflow-y: hidden;
}

body {
  background-image: url("../img/countriesDashboardBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: sans-serif;
}

h1 {
  background-color: #fff;
  padding: 3px 20px;
  border-radius: 8px;
}

select {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.container {
  overflow-y: auto;
  max-height: 100%;
  margin: 20px 0 0 0;
}

#country-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: #00000026 solid 3px;
}

#country-flag {
  width: 150px;
  border: #00000026 solid 3px;
}

#country-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#country-info li {
  margin: 8px 0;
}

#weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: #00000026 solid 3px;
}

#weather-info table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
tr,
td {
  border: 2px solid #606060;
}

#weather-info th,
#weather-info td {
  padding: 8px;
  text-align: center;
}

#weather-info th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Style holidays info card */
#holidays {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: #00000026 solid 3px;
}

#holiday-header {
  margin: 0;
}

#holiday-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#holiday-list li {
  margin: 8px 0;
}

.name-flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px 60px 20px;
}

@media (max-width: 400px) {
  body {
    background-size: cover;
    background-position: center;
  }

  .selector {
    margin: 20px 0;
  }

  h1 {
    width: 40%;
    font-size: 18px;
    padding: 6px 8px;
  }

  select {
    width: 44%;
  }

  .container {
    width: 95%;
  }

  #country-info {
    flex-direction: column;
    margin: 20px 0;
    font-size: 14px;
  }

  #weather-info {
    margin: 20px 0;
    font-size: 10px;
  }

  #holidays {
    margin: 20px 0;
    font-size: 14px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  body {
    background-size: cover;
    background-position: center;
  }

  .selector {
    margin: 20px 0;
  }

  h1 {
    width: 40%;
    font-size: 22px;
    padding: 6px 8px;
  }

  select {
    width: 44%;
  }

  .container {
    width: 95%;
  }

  #country-info {
    flex-direction: column;
    margin: 20px 0;
    font-size: 16px;
  }

  #weather-info {
    margin: 20px 0;
    font-size: 12px;
  }

  #holidays {
    margin: 20px 0;
    font-size: 16px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
  }

  .selector {
    margin: 20px 0;
  }

  select {
    width: 40%;
  }

  #country-info {
    flex-direction: column;
    margin: 20px 0;
  }

  #weather-info {
    margin: 20px 0;
  }

  #holidays {
    margin: 20px 0;
  }
}
